.body {
    background-color: #db12124d;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card {
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}

.cards {
    display: flex 1;
    gap: 20px;
    justify-content: center;
    background-color: #9323234d;
}